@import "../global.scss";

.Menu {
  display: flex;
  cursor: pointer;
  min-width: 200px;
}

.MenuContainer {
  display: flex;
}

.HorizontalContainer {
  flex-direction: column;
}

.Vertical {
  flex-direction: column;
  border-right: 1px solid $light-gray;
  &__active {
    color: $primary-color-light;
    border-right: 2px solid $primary-color-dark;
    background-color: $primary-color-light-variant;
  }
}

.Horizontal {
  border-bottom: 1px solid $light-gray;
  &__active {
    color: $primary-color-light;
    border-bottom: 2px solid $primary-color-dark;
  }
}

.MenuItem {
  padding: 10px;
}
