@import "../global.scss";

button {
  all: unset;
  background-image: none;
  border: 1px solid transparent;
  background-image: none;
  background-color: $white;
  border-color: $light-gray;
  padding: 4px 15px;
  min-width: 50px;
  min-height: 25px;
  display: flex;
  align-items: center;
  justify-content: center;
  &:hover {
    color: $primary-color;
    border-color: $primary-color;
    cursor: pointer;
  }
  &:focus {
    border-color: $primary-color;
    cursor: pointer;
  }
}

.Primary {
  color: $white;
  background-color: $primary-color;
  border-color: $primary-color;
  &:hover {
    color: $white;
    opacity: 0.7;
  }
}

.Dashed {
  border-style: dashed;
}
.Link {
  border: none;
  color: $primary-color;
  &:hover {
    opacity: 0.7;
  }
}
