$primary-color: #26c6da;
$primary-color-dark: #0095a8;
$primary-color-light: #26c6da;
$primary-color-light-variant: #e6f7ff;
$white: #ffffff;
$gray: #f3f3f3;
$gray-variant: #dddddd;
$light-gray: #d9d9d9;
$yellow: #fadb14;
