@import "../global.scss";

.spinner {
  border: 5px solid $primary-color; /* Light grey */
  border-top: 5px solid $gray; /* Blue */
  border-right: 5px solid $gray; /* Blue */
  border-bottom: 5px solid $gray;
  border-radius: 50%;
  width: 15px;
  height: 15px;
  animation: spin 1s linear infinite;
}

@keyframes spin {
  0% {
    transform: rotate(0deg);
  }
  100% {
    transform: rotate(360deg);
  }
}
